@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;   
    background-color: #faf4ff;
}
.headTitle{
    line-height: 90px;
    text-align: center;
    letter-spacing: 3px;
    margin-bottom: 30px;
    text-transform: uppercase;
    word-spacing: px;
   
}
.team{
    border-bottom: 3px solid #2fc4b2;
}
.column{
    width: 5%;
    background-color: #f4f6ff;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    margin: 20px;
}
.column{
    width: 22%;
    float: left;
}
.row:after{
    content: "";
    display: table;
    clear: both;
}
.backgroundImage{
    width: 100%;
    height: 200px;
    object-fit: cover;
    clip-path: polygon(0 0, 100% 0, 100% 78%, 0% 100%);
    z-index: 0;
    position: relative;
}
.profileImage{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -5rem;
    z-index: 3;
    position: relative;
    border: 10px solid #d3dbff;
}
.name{
    text-align: center;
    line-height: 50px;
    letter-spacing: 3px;
    font-weight: 600;
    text-shadow: -2px -1px 11px #424874;
}
.jobTitle{
    text-align: center;
}
p{
    text-align: center;
    color: gray;
}
p.jobTitle{
    text-align: center;
    color: black;
}
hr{
    border-top: 1px solid gray;
}
ul{

    position: relative;
    left: 40px;
}
li{
    list-style: none;
    display: inline-block;
    margin-bottom: 20px;

}
a{
    text-decoration: none;
    text-align: center;
    font-size: 27px;
    padding: 0 10px;

}
.fa-instagram{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
            /* Also define standard property for compatibility */
            background-clip: text;
    -webkit-text-fill-color: transparent;
}
.fa-twitter{
    color: #1DA1F2;
}

.contact{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}
a.call{
    background-color: #7f78d2;
    border-radius: 50px;
    font-size: medium;
    text-align: center;
    padding: 10px 20px;
    width: 100px;
    color: white;
}
a.call:hover{
background-color: #f67280;
}
a.call{
    background-color: #7f78d2;
    border-radius: 50px;
    font-size: medium;
    text-align: center;
    padding: 10px 20px;
    width: 100px;
    color: white;
}
a.call:hover{
background-color: #f67280;
}
a.callMan{
    background-color: #7f78d2;
    border-radius: 50px;
    font-size: medium;
    text-align: center;
    padding: 10px 20px;
    width: 100px;
    color: white;
}
a.callMan:hover{
background-color: #63b7af;
}
/*Resposiveness*/
@media(max-width:1333px){
.column{
    margin: 15px;
}
}
@media(max-width:1205px){
    ul{

        position: relative;
        left: 20px;
    }
}
@media(max-width:1094px){
    .column{
        margin: 15px;
    }
    .column{
        width: 30%;
    }
}
@media(max-width:930px){
    .column{
        margin: 15px;
        width:45%;
    }
    ul{

        position: relative;
        left: 70px;
    }
}
@media(max-width:693px){
    ul{

        position: relative;
        left: 40px;
    }
}
@media(max-width:600px){
    .column{
        margin: 45px;
        width:80%;
    }
    ul{

        position: relative;
        left: 40px;
    }
}